# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#
*.pt
*.png
*.jpg
*.jpeg
*.h5
*.hdf
*.csv
lightning_logs
*.wav
*.pth
.idea
notebooks/reproduce_training_ekaterina/noise_data/*
data_birdset
/notebooks/reproduce_training_ekaterina/logs
/notebooks/reproduce_training_ekaterina/birdset_modules
/notebooks/reproduce_training_ekaterina/configs_birdset
*.hdf5
notebooks/reproduce_training_ekaterina/gen_model_test/checkpoints/epoch=5-step=30005.ckpt
*.npy
*.ckpt
*.dac
notebooks/reproduce_training_ekaterina/gen_model_test/wavenet_model.pth
