# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#
*.pt
*.png
*.jpg
*.jpeg
*.h5
*.hdf
*.csv
lightning_logs
*.wav

.idea
notebooks/reproduce_training_ekaterina/noise_data/*
data_birdset
