# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#
*.pt
*.png
*.jpg
*.jpeg
*.h5
*.hdf
*.csv
lightning_logs
*.wav
*.pth
.idea
notebooks/birdset_training/noise_data/*
data_birdset
/notebooks/birdset_training/logs
/notebooks/birdset_training/birdset_train_pipeline/birdset_modules
/notebooks/birdset_training/birdset_train_pipeline/configs_birdset
*.hdf5
notebooks/birdset_training/gen_model_test/checkpoints/epoch=5-step=30005.ckpt
*.npy
*.ckpt
*.dac
notebooks/birdset_training/gen_model_test/wavenet_model.pth
